# Project exclude paths
/.gradle/
/build/
/app/build/
*.iml
.DS_Store
*.log
local.properties
.kotlin/
.idea/
*.xcuserstate
xcuserdata/
*.pbxproj
*.xcworkspace
Pods/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.app.zip
